[submodule "src/ComfyUI/custom_nodes/ComfyUI-Manager"]
	path = src/ComfyUI/custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
[submodule "src/ComfyUI/custom_nodes/was-node-suite-comfyui"]
	path = src/ComfyUI/custom_nodes/was-node-suite-comfyui
	url = https://github.com/AiMuzan/was-node-suite-comfyui.git
[submodule "src/ComfyUI/custom_nodes/ComfyUI-Easy-Use"]
	path = src/ComfyUI/custom_nodes/ComfyUI-Easy-Use
	url = https://github.com/yolain/ComfyUI-Easy-Use.git
[submodule "src/ComfyUI/custom_nodes/ComfyUI-Florence2"]
	path = src/ComfyUI/custom_nodes/ComfyUI-Florence2
	url = https://github.com/kijai/ComfyUI-Florence2.git
[submodule "src/ComfyUI/custom_nodes/ControlAltAI-Nodes"]
	path = src/ComfyUI/custom_nodes/ControlAltAI-Nodes
	url = https://github.com/gseth/ControlAltAI-Nodes
[submodule "src/ComfyUI/custom_nodes/rgthree-comfy"]
	path = src/ComfyUI/custom_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy
[submodule "src/ComfyUI/custom_nodes/comfyui_controlnet_aux"]
	path = src/ComfyUI/custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux.git
[submodule "src/ComfyUI/custom_nodes/ComfyUI-GGUF"]
	path = src/ComfyUI/custom_nodes/ComfyUI-GGUF
	url = https://github.com/city96/ComfyUI-GGUF.git
